<!DOCTYPE html>
<html lang="pt-br">
<%- include('../visual/head.html'); %>
<body>

  <header>
    <%- include('../visual/menu.html'); %>
  </header>

  <main>

    <div class="usuarios">
      <div class="usuarios-title">
        Usuários Cadastrados
      </div>
      <div class="links-usuarios">
        <a href="/registro">Cadastrar usuário manualmente</a>
      </div>
      <div class="usuarios-description">
        <table border="1" cellpadding="0" cellspacing="0" class="table-usuarios">
          <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th>Endereço</th>
              <th>Email</th>
              <th>Senha</th>
              <th>Celular</th>
          </tr>
          <% cliente.forEach((c, index) => { %>
          <tr>
              <td><%= c.Nome %></td>
              <td><%= c.CPF %></td>
              <td><%= c.Endereco %></td>
              <td><%= c.Email %></td>
              <td><%= c.Senha %></td>
              <td><%= c.Celular %></td>
          </tr>
          <% }) %>
      </table>
      </div>
    </div>
  </main>

    <%- include('../visual/footer.html'); %>
</body>
<script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>

</html>